
        body {
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #425951;
        }

        main {
            margin: 10px;
        }

        .container {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 20px;
            margin-top: 20px;
        }